<h3>{{caption}}</h3>
<div class="input-group">
  <input #txtProgress type="number" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
   aria-describedby="basic-addon2"
  [(ngModel)]="progress" name="progress" min="0" max="100" (ngModelChange)="onChnage($event)">
  <div class="input-group-append">
    <button class="btn btn-outline-primary" type="button" (click)="changeValue(-5)">
      <i class="mdi mdi-minus"></i>
    </button>
    <button class="btn btn-outline-primary" type="button" (click)="changeValue(5)">
        <i class="mdi mdi-plus"></i>
    </button>
  </div>
</div>
